# Allow recovery access to block devices and mounting
allow recovery block_device:dir search;
allow recovery { mmc_blk_device sda_device }:blk_file { read write open getattr mount };
allow recovery untrusted_app_tmpfs:file { read write open };

# General permissions for file operations required by wipe/format
allow recovery self:capability { setuid setgid net_raw net_admin sys_chroot dac_override };

# Key Rules for Troubleshooting Reset Blocking Errors
allow recovery system_data_file:dir { write add_name remove_name search };
allow recovery system_data_file:file { write create getattr setattr open };
allow recovery self:capability { setuid setgid dac_override };

# Allow the recovery domain to add (register) services in service_manager
allow recovery service_manager_service:service_manager add;